* {
    width: 960px; 
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
}

#lateral {
    width: 260px;
    float: left;
}

#principal {
    width: 700px; 
    margin-left: 260px;
}

.lista {
    padding: 0;
    display: flex;
    width: auto;
    list-style-type: none;
}

.lista li{
    float: left;
    width: 33%;
}
