body {
    background-color: rgb(245, 245, 245);
    margin: 10px;
}

nav {
    margin-top: 10px;
    float: left;
    border: 1px solid gray;
    background-color: white;
    padding-top: 5px;
    padding-bottom: 2px;
    width: 7%;
}

#nav {
    padding: 0px;
    margin: 0px;
}

#nav li {
    background-image: url(../imagenes/carpeta.png);
    background-repeat: no-repeat;
    background-position: left;
    padding: 10px;
    padding-left: 50px;
}

#nav li:hover {
    background-color: rgb(224, 224, 224);
}

#nav li:active {
    background-color: rgb(163, 163, 163);
}

header {
    padding: 5px;
    background-color: white;
    border: 1px solid gray;
    margin: 10px;
    width: 91.18%;
    float: right;
}

aside {
    background-color: white;
    border: 1px solid gray;
    margin-right: 10px;
    width: 8.5%;
    float: right;
    text-align: center;
}

li {
    list-style: none;
}

#contenidos {
    margin-left: 10px;
    float:left;
    width: 79%;
    background-color: white;
    padding: 30px;
    border: solid 1px gray;
    color: rgb(255, 115, 0);
}

#lmsgi {
    font-size: 200%;
}

#contenidos h3 {
    font-size: 150%;
    font-family: 'Times New Roman', Times, serif;
}

#contenidos h4 {
    color: green;
    font-size: 130%;
    padding-left: 10px;
}

#contenidos h5 {
    color: blue ;
    font-size: 120%;
    padding-left: 15px;
}

#contenidos a {
    color: rgb(255, 115, 0);
    font-size: 110%;
    text-decoration: none;
}

#contenidos a:hover{
    text-decoration: underline;
}

#contenidos article {
    border-top: solid 1px rgb(255, 115, 0);
    padding: 10px;
}

.apuntes li{
    background-image: url(../imagenes/pdf.png);
    background-repeat: no-repeat;
    background-position: left;
    padding: 10px;
    padding-left: 50px;
}

.actividades li{
    background-image: url(../imagenes/actividad.png);
    background-repeat: no-repeat;
    background-position: left;
    padding: 10px;
    padding-left: 50px;
}

.videos li{
    background-image: url(../imagenes/enlace.png);
    background-repeat: no-repeat;
    background-position: left;
    padding: 10px;
    padding-left: 50px;
}

#educastur{
    float: left;
    padding: 20px;
    padding-left: 30%;
}

#aulas{
    width: 95%;
    float:left;
}

#subir{
    width: 5%;
    float: left;
}